@import "tailwindcss";

:root {
  --background: #1b1b1b;
  --foreground: #222222;
  --foreground-light: #3b3b3b;
  --highlight: #e07257;
}

* {
  user-select: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --color-highlight: var(--highlight);
}

@layer components {
  .social-icons {
    @apply size-[30px] cursor-pointer text-zinc-400 hover:text-white ease-linear duration-150;
  }
}
